header {
	background-color: lightgrey;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	color: black;
}


body {
	background-color: lightgrey;
}

.card {
	display: inline-block;
	width: 363px;
	margin-right: 40px;
}

.text-container {
	height: 172px;
	width: 100%;
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 68px;
	padding-left: 37px;
	padding-right: 37px;
	box-sizing: border-box;
	font-size: 10px;
	font-weight: 700;
	line-height: 25px;
	color: #8A8787;
}

a {
	color: black;
}


li {
	display: inline-block;
	margin-left: 50px;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

img {
	vertical-align: middle;
}

section {
	margin-top: 80px;
}

.parent {
	width: 300px;
	height: 300px;
	background-color: coral;
	position: relative;
	z-index: 2;
}

.child {
	width: 100px;
	height: 100px;
	position: absolute;
}

/*.child-1 {
	background-color: blue;
	z-index: 2;
}

.child-2 {
	background-color: grey;
	top: 50px;
	left: 50px;
	z-index: 1;
}*/

.child-3 {
	background-color: yellow;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;

}

img {

}

.img-container {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 42px;
}

.img {
	display: inline-block;
	position: relative;
	width: 100%;
}

.img-text {
	position: absolute;
	top: 37%;
	right: 41%;
	color: darkblue;
}

.text {
	color: white;
}

h1 {
	margin-left: 100px;
}

h2 {
	margin: centre;
}

.container {
	max-width: 1300px;
	width: 90%;
	margin: 0 auto;
}

.title {
	margin-bottom: 30px;
}

.left-side {
	display: inline-block;
	width: 758px;
	vertical-align: top;
	margin-right: 45px;
}

.right-side {
	display: inline-block;
	width: 362px;
	vertical-align: top;
}


footer {
	width: 100%;
	background-color: #243043;
	height: 200px;
}





